{% extends "layout.html" %}


{% block title %} My Group Events {% endblock %}


{% block navbar %}
<!-- Events and Directory Buttons -->
<form class="form-inline" action="/events" method="get">
    <button type="submit" class="btn" id="evbtn"><i class="far fa-calendar-alt"></i> Events</button>
</form>
<form class="form-inline" action="/directory" method="get">
    <button type="submit" class="btn" id="dirbtn"><i class="far fa-address-card"></i> Directory</button>
</form>
{% endblock %}


{% block navbar_nav %}

<!-- month nav -->
<li class="nav-item">
   <div id="mobile_nav">
      <a class="mobile_nav_btn" href="#January">Jan</a>
      <a class="mobile_nav_btn" href="#February">Feb</a>
      <a class="mobile_nav_btn" href="#March">Mar</a>
      <a class="mobile_nav_btn" href="#April">Apr</a>
      <a class="mobile_nav_btn" href="#May">May</a>
      <a class="mobile_nav_btn" href="#June">Jun</a><br>
      <a class="mobile_nav_btn" href="#July">Jul</a>
      <a class="mobile_nav_btn" href="#August">Aug</a>
      <a class="mobile_nav_btn" href="#September">Sep</a>
      <a class="mobile_nav_btn" href="#October">Oct</a>
      <a class="mobile_nav_btn" href="#November">Nov</a>
      <a class="mobile_nav_btn" href="#December">Dec</a>
   </div>
</li>
<li class="nav-item">
   <div id="mobile_nav_years">
         <a href="/events/{{ years[0] }}" id="{{ years[0] }}mobile">{{ years[0] }}</a>
         <a href="/events/{{ years[1] }}" id="{{ years[1] }}mobile">{{ years[1] }}</a>
         <a href="/events/{{ years[2] }}" id="{{ years[2] }}mobile">{{ years[2] }}</a>
   </div>
</li>

<!-- Add Event and Logout buttons -->
<li class="nav-item">
    <button class="btn mt-4 mt-sm-auto" type="button" id="addev_btn"><i class="fas fa-plus"></i> add event</button>
</li>
<li class="nav-item">
    <form class="form-inline" action="/logout" method="post">
        <button type="submit" class="btn mt-3 mt-sm-auto" id="logout_btn"><i class="fas fa-sign-out-alt"></i> logout</button>
    </form>
</li>
{% endblock %}


{% block modals %}
<!-- server response modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="response_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- close modal button -->
                <button type="button" data-toggle="popover" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-times-circle fa-sm"></i>
                </button>
            </div>
            <div class="modal-body">
                <p id="response"></p>
            </div>
            <small>Click anywhere to dismiss</small>
        </div>
    </div>
</div>



<!-- confirm delete event modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="del_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- close modal button -->
                <button type="button" data-toggle="popover" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-times-circle fa-sm"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this?</p>
            </div>
            <div id="del_buttons">
                <button type="button" class="btn btn-sm" id="del_nope" data-toggle="modal" data-target="#del_modal"><i class="fas fa-undo-alt"></i> nope</button>
                <button type="button" id="del_confirm" class="btn btn-sm" data-toggle="modal" data-target="#del_modal"><i class="fas fa-trash-alt"></i> delete</button>
            </div>
        </div>
    </div>
</div>



<!-- Add Event Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="addev_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Event</h5>
                <!-- close modal button -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-times-circle fa-sm"></i>
                </button>
            </div>
            <form id="addev_form">
                <div class="modal-body">

                    <!-- Event title -->
                    <div class="form-group">
                        <label for="title" class="label_primary">Event Name</label>
                        <input class="form-control" type="text" name="title" id="title" required>
                    </div>

                    <!-- Event type -->
                    <div class="form-group">
                        <label for="type" class="sr-only">Event Type</label>
                        <select class="form-control" id="type" name="type" required>
                            <option value="">Select Event Type</option>
                            <option value="event">event</option>
                            <option value="birthday">birthday</option>
                            <option value="anniversary">anniversary</option>
                            <option value="food">food</option>
                        </select>
                    </div>

                    <!-- Event Date -->
                    <div class="form-group">
                       <label for="datepicker">Date</label>
                       <input type="text" id="datepicker1" name="date" class="form-control" placeholder="mm/dd/yyyy">
                    </div>

                    <!-- Event Time -->
                    <div class="form-group">
                        <label for="time" class="label_primary">Time <small class="label_help">optional (format: 7:00 PM)</small></label>
                        <input type="time" class="form-control" name="time" id="time">
                    </div>

                    <!-- Event Location -->
                    <div class="form-group">
                        <label for="location" class="label_primary">Location <small class="label_help">optional</small></label>
                        <input type="text" class="form-control" id="location" name="location">
                    </div>

                    <!-- Event Notes -->
                    <div class="form-group">
                        <label for="notes" class="label_primary">Notes <small class="label_help">optional</small></label>
                        <input type="text" class="form-control" id="notes" name="notes">
                    </div>

                    <button type="submit" class="btn">Submit</button>
                </div> <!-- modal body -->
            </form>
        </div> <!-- modal content -->
    </div> <!-- modal dialog -->
</div> <!-- modal -->



<!-- Edit Event Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="editev_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Event</h5>
                <!-- close modal button -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-times-circle fa-sm"></i>
                </button>
            </div>
            <form id="editev_form">
                <div class="modal-body">

                    <!-- Event title -->
                    <div class="form-group">
                        <label for="title2" class="label_primary">Event Name</label>
                        <input class="form-control" type="text" name="title" id="title2" required>
                    </div>

                    <!-- Event type -->
                    <div class="form-group">
                        <label for="type2" class="sr-only">Event Type</label>
                        <select class="form-control" id="type2" name="type" required>
                            <option value="">Select Event Type</option>
                            <option value="event">event</option>
                            <option value="birthday">birthday</option>
                            <option value="anniversary">anniversary</option>
                            <option value="food">food</option>
                        </select>
                    </div>

                    <!-- Event Date -->
                    <div class="form-group">
                       <label for="datepicker2">Date</label>
                       <input type="text" id="datepicker2" name="date" class="form-control" placeholder="mm/dd/yyyy">
                    </div>

                    <!-- Event Time -->
                    <div class="form-group">
                        <label for="time2" class="label_primary">Time <small class="label_help">optional (format: 7:00 PM)</small></label>
                        <input type="time" class="form-control" name="time" id="time2">
                    </div>

                    <!-- Event Location -->
                    <div class="form-group">
                        <label for="location2" class="label_primary">Location <small class="label_help">optional</small></label>
                        <input type="text" class="form-control" id="location2" name="location">
                    </div>

                    <!-- Event Notes -->
                    <div class="form-group">
                        <label for="notes2" class="label_primary">Notes <small class="label_help">optional</small></label>
                        <input type="text" class="form-control" id="notes2" name="notes">
                    </div>

                    <button type="submit" class="btn">Submit</button>
                </div> <!-- modal body -->
            </form>
        </div> <!-- modal content -->
    </div> <!-- modal dialog -->
</div> <!-- modal -->
{% endblock %}



<!-- left side nav -->
{% block side_nav %}
<div id="side_nav">
   <a href="#January">Jan</a>
   <a href="#February">Feb</a><br>
   <a href="#March">Mar</a>
   <a href="#April">Apr</a><br>
   <a href="#May">May</a>
   <a href="#June">Jun</a><br>
   <a href="#July">Jul</a>
   <a href="#August">Aug</a><br>
   <a href="#September">Sep</a>
   <a href="#October">Oct</a><br>
   <a href="#November">Nov</a>
   <a href="#December">Dec</a><br>
</div>
<div id="side_nav_years">
      <a href="/events/{{ years[0] }}" id="{{ years[0] }}">{{ years[0] }}</a>
      <a href="/events/{{ years[1] }}" id="{{ years[1] }}">{{ years[1] }}</a>
      <a href="/events/{{ years[2] }}" id="{{ years[2] }}">{{ years[2] }}</a>
</div>
{% endblock %}

{% block inlinejs %}
   <script>$('#{{year}}').addClass('active');</script>
   <script>$('#{{year}}mobile').addClass('active');</script>
{% endblock %}


{% block main %}
<!-- All the events -->
<div class='container' id="ev_contain<br>
    <ul class="list-group">
        <div class="row justify-content-center">
            {% for li in list_items %}
                {{ li|safe }}
            {% endfor %}
        </div>
    </ul>
</div>
{% endblock %}
